.app-container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    /* height: 100vh; */
  }
  
  .form-container {
    
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .input-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .submit-button:hover{
    border-radius: 20px;
    color:#ff4500;
    background-color: #fff;
    border: 1px solid #ff4500;
  }
  
  
  